openapi: 3.2.0
info:
  title: Goodyear SightLine Friction API
  description: Goodyear SightLine API provides developer-friendly access to intelligent tire data including tire type, tread depth, tire pressure, load, wear state, and temperature. Uses REST architecture with robust security protocols for efficient and secure data sharing.
  version: 1.0.0
  contact:
    name: Goodyear
    url: https://developer.goodyearsightline.com/
servers:
- url: https://developer.goodyearsightline.com
  description: Goodyear SightLine Developer Portal
tags:
- name: Friction
paths:
  /friction:
    get:
      operationId: getFrictionData
      summary: Get Friction Data
      description: Retrieve tire friction data combined with real-time weather conditions for road safety assessment.
      parameters:
      - name: vehicleId
        in: query
        schema:
          type: string
      - name: latitude
        in: query
        schema:
          type: number
      - name: longitude
        in: query
        schema:
          type: number
      responses:
        '200':
          description: Successful response with friction data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  frictionCoefficient:
                    type: number
                  roadCondition:
                    type: string
                  weatherCondition:
                    type: string
        '401':
          description: Unauthorized.
      tags:
      - Friction
